.about-me {
  min-height: 100vh; 
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.about-me .about-ari h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--blue);
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.responsive-design {
  display: flex;
}

.about-p {
  font-size: 2.4rem;
}

.about-me h4 {
  font-size: 2.8rem;
  color: var(--blue);
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.svg-about {
  width: 500px;
  height: auto;
  margin: 1rem;
}

.svg-too {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.responsive-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.svg-none {
  display: none;
}

@media screen and (max-width: 1300px) {
  .svg-about {
    width: 350px;
  }

  .about-p {
    font-size: 1.8rem;
  }

  .about-me h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 930px) {
  .svg-none {
    display: block;
    width: 300px;
    height: auto;
  }
  
  .about-ari {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .svg-about {
    display: none;
  }

  .about-me {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 500px) {


  .about-me {
    padding-left: 3%;
    padding-right: 3%;
  }
}

