.contact-me {
  min-height: 100vh;
  background-color: var(--accent);
  padding: 14rem 15%;
}

.contact-me h3 {
  font-size: 3.4rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--blue);
  text-align: center;
}