.footer-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-color: var(--blue);
  width: 100%;
  min-height: 100vh;
  padding: 14rem 1.5rem;
}

.footer-main p {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--accent);
  text-align: center;
}

.footer-main a {
  text-decoration: none;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 2.6rem;
  transition: all .3s ease-in;
  text-align: center;
  font-weight: 700;
  background-color: var(--white);
  padding: 1.8rem 3.6rem;
  border-radius: 5px;
  margin: 1.5rem;
  border: 5px solid var(--accent);
}

.footer-main a:hover {
  background-color: var(--accent);
  border: 5px solid var(--white);
}

#copyright {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--white);
  text-align: center;
  background-color: var(--blue);
}

@media screen and (max-width: 980px) {
  .footer-main {
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .footer-main p {
    padding: 3rem;
  }

  .footer-main a {
    width: 100%;
  }
}