.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 12rem);
  padding: 3%;
  color: var(--white);
}

.placeholder {
  height: 12rem;
}
.hero-svg {
  width: 350px;
  height: auto;
}

h1 {
  font-size: 5.4rem;
  text-transform: uppercase;
  padding: 1rem;
  padding-bottom: .5rem;
  color: var(--blue);
}

h2, h3 {
  display: none;
}

#contact-me {
  font-size: 2rem;
  text-decoration: none;
  color: var(--blue);
  background-color: var(--white);
  padding: 1.5rem 2.5rem;
  border: 3px solid var(--blue);
  border-radius: 10px;
  font-weight: 700;
  transition: all .3s ease-in;
}

#contact-me:hover {
  background-color: var(--accent);
  border: 3px solid var(--white);
}

p {
  font-size: 1.4rem;
  color: var(--blue);
  padding: 1rem;
}


@media screen and (max-width: 1300px) {
  h1 {
    font-size: 4rem;
  }

  .hero-svg {
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 6rem;
  }

  .hero-svg {
    width: 500px;
  }

}

@media screen and (max-width: 700px) {
  h1 {
    display: none;
  }

  h2, h3 {
    display: block;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
  }

  h2 {
    padding-top: 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  .hero-svg {
    width: 250px;
  }
}