.navbar {
  position: fixed;
  top: 0;
  height: 12rem;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
}

.navlinks li a.active {
  color: var(--accent);
}

.menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bar1, .bar2, .bar3 {
  background-color: var(--white);
  height: .4rem;
  width: 4rem;
  margin: .4rem 0;
  transition: all .3s ease-in;
}

#business-name {
  text-decoration: none;
  color: var(--accent);
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  transition: .3s ease-in;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#business-name:hover {
  opacity: .7;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks li {
  list-style: none;
}

.navlinks li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
  transition: all .3s ease-in;
  padding: 0 2rem;
  letter-spacing: 1px;
}

.navlinks li a:hover {
  color: var(--accent);
}

@media screen and (max-width: 1030px) {
  #business-name {
    font-size: 3rem;
  }

  .navlinks li a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 930px) {
  .menu {
    display: flex;
    cursor: pointer;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12rem; /* Adjust to your navbar height */
    right: 0;
    background-color: var(--blue);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    justify-content: center;
  }

  .menu.open .bar1 {
    transform: rotate(-45deg) translate(-11px, 6px);
  }
  
  .menu.open .bar2 {
    opacity: 0;
  }
  
  .menu.open .bar3 {
    transform: rotate(45deg) translate(-11px, -6px);
  }

  .navlinks.open {
    max-height: 100vh;
    min-height: calc(100vh - 12rem);
  }

  .navlinks.open li a {
    font-size: 3rem;
  }

  .navlinks.open li {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 5%;
  }

  .menu {
    margin-right: 1rem;
  }

  #business-name {
    margin-right: 2rem;
    margin-left: 1rem;
    display: block;
    text-align: left;
  }

}