.portfolio {
  min-height: 100vh;
  background-color: var(--accent);
  padding: 14rem 15%;
}

.portfolio h3 {
  font-size: 3.4rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--blue);
  text-align: center;
  padding: 1rem;
}

.port-one, .port-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.port-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.port-one a, .port-two a, .port-three a {
  display: block;
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: all .2s ease-in;
}

.port-one a:hover, .port-two a:hover, .port-three a:hover {
  opacity: .7;
  z-index: 1;
}

.port-one a img, .port-two a img, .port-three a img {
  display: block;
  border: 5px solid var(--white);
}

#gambill {
  width: 280px;
  height: auto;
}

#nf {
  width: 280px;
  height: auto;
}

#blend, #lucid, #intuit {
  width: 280px;
  height: 280px;
  color: var(--white);
  background-color: #000000;
  border: 5px solid var(--white);
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lucid {
  font-size: 5rem;
  background-color: #000000;
  color: var(--accent);
}

#ease {
  width: 280px;
  height: auto;
}

#curb {
  width: 280px;
  height: 280px;
  background-color: #000000;
}

@media screen and (max-width: 950px) {
  .port-one, .port-two, .port-three {
    flex-direction: column;
  }

  .port-one a, .port-two a, .port-three a {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}