* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--accent);
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --blue: #1F2937;
  --white: #ffffff;
  --accent: #22D3EE;
}
